.chat-box {
  width: 70%;
  min-width: 450px;
  max-height: 750px;
  overflow-y: scroll;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.chat-room {
  width: 60%;
  min-width: 420px;
  height: 550px;
  margin-left: 1em;

  border: 3px solid var(--color-primary, #3498db);
  border-radius: 10px;

  overflow-y: scroll;
}

.chat-row {
  width: 100%;
  clear: both;
}

.chat-row-left {
  float: left;
}

.chat-room-right {
  float: right;
}

.chat-indent {
  padding: 5px 5px;
}

.message {
  max-width: 400px;
  margin-bottom: 10px;
}
