<div class="mn-box mn-absolute-center chat-box">
  <h1>Group: {{group}}</h1>
  <div class="chat-room chat-indent" id="chat-room">
    <ng-container *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </ng-container>
  </div>
  <button class="mn-button" (click)="createNewMessage('Luke', 'The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.\n'+
'      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally\n'+
'      bred for hunting.', true)">Create</button>
  <button class="mn-button" (click)="onChooseNewGroup()">Back</button>
</div>
